APP_NAME="Pranav Diagnostics Centre Admin Panel"
# APP_ENV=local
APP_ENV=production
APP_KEY=base64:en7tARG4sgk5kXUUtptYu++cdISg5DagfT44s8QoPmM=
# APP_DEBUG=true
APP_DEBUG=false
# APP_URL=http://localhost:8000
APP_URL=https://pranav.agoo.in

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# DB_CONNECTION=mysql
# DB_HOST=localhost
# DB_PORT=3306
# DB_DATABASE=dms_fm
# DB_USERNAME=root
# DB_PASSWORD=

DB_CONNECTION=mysql
DB_HOST=103.145.50.44
DB_PORT=3306
DB_DATABASE=agoo_in01_pranav_scan
DB_USERNAME=agoo_in01_admin
DB_PASSWORD="Techiebro@321"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=240

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TEST_WHATSAPP=916381108620
WHATSAPP_URL="https://api.whaps.in/6bfa9273-85df-4a7a-8f8b-9ce35dec8ecb/contact/send-template-message"
WHATSAPP_VENDOR_UID="6bfa9273-85df-4a7a-8f8b-9ce35dec8ecb"
WHATSAPP_PHONE_NUMBER_ID=551096018085795
WHATSAPP_BEARER_TOKEN=oDueEyUeXDomfXg7dsoYL0sZAFhjsJN1EPhOleoj4D8k7MbMiR4ImzSbmLPidvDp
